<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/models/Article.js"></script>
        <script type="text/javascript" src="../js/views/addArticle.js"></script>
    </head>
    <body>
        <form id="create_article">
            <input type="text" name="title"/>
            <input type="textarea" name="content"/>
            <input type="file" name="article_img"/>
            <button type="submit">Send</button>
        </form>
    </body>
</html>