<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/models/Article.js"></script>
        <script type="text/javascript" src="../js/models/Articles.js"></script>
        <script type="text/javascript" src="../js/views/article.js"></script>
    </head>
    <body>
        <h1>Here is your article...</h1>
        <div id="content">
            
        </div>
        
        <ul class="pag">
                
            
        </ul>
        
    </body>
</html> 