<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/contact.css" type="text/css" />
    
    
</head>
<body>
        <div class="main">
        <div class="cttop clearfix">
            <a>Admin Login</a>
            <a>Articles</a>
            <h1 id="title">Blog Title</h1>
           
        </div>
    
        <div class="ctmid">
            <button class="mainbtn">
                Contact Us
            </button>
        </div class>
        <section class="ctlow">
            <div class="first clearfix">
                <div class="float envelope">&#9993;</div>
                <form class="float form1">
                    <input type="text" name="Email" placeholder="Add your e-mail here"/>
                </form>
            </div>
        
            <div class="second clearfix">
                <form>
                    <textarea rows="35" cols="100" name="comment"/>Need any help?</textarea>
                </form>
            </div>
            <div id="submit"><input type="submit" name="submit" placeholder="Send"/></div>
        </section>
    </div>
</body>
</html>